<h2> Votre Vote à bien été enregistrer !! </h2>

<p> {{ athlete.nom }} à desormais {{ athlete.vote }}</p>

<a href="{{ path('epreuve', { 'idepreuve': epreuve.id }) }}" class="btn btn-primary">Retour</a>